p, h2, h3, h4, h5 {
    font-weight: bolder;
}

.tab { 
    margin-left: 25px; 
}

body {
    width: 100%;
    height: auto;
    padding-top: 0;
    margin: -40px auto;
	font-family: Arial, Helvetica, sans-serif;
    background-color: #a44bfc;
} 

.collapse .navbar-collapse {
    position: absolute !important;
    width: auto;
}

.navbar.navbar-default {
    border-width:0px;
    background-color: #000000;
    width: 100%;
    height: auto;
} 

.nav .navbar-nav .nav .nav-pulls .navbar-right {
    margin: 0;
    border:0px;
    border-bottom-color: transparent !important;
    width: 100%;
    height: auto;
}

 /*navbar change color*/ 
 .navbar-default > li > a:hover, .navbar-default > li > a:focus {
color: #a44bfc  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff; /*BACKGROUND color for active*/
background-color: #a44bfc;
}

  .navbar-default {
    background-color: #000000;
    border-color: #000000;
}

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #ffffff;
   text-decoration: none;
  background-color: #a44bfc;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #000000
; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: #ffffff; /*Change active text color here*/
    }

.jumbotron {
    background-color: #a44bfc;
    background-image:url(img/bckg.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;  
}
.container {
    width: 75%;
    margin: auto;
}

.jumbotron .container {
  position: center;
  top:250px;
}

.jumbotron h1 {
  text-align: center;
  color: #7c2791;
  font-size: 42px;  
  font-family: 'Shift', sans-serif;
  font-weight: 800;
}

.jumbotron h2 {
  text-align: center;
  color: #7c2791;
  font-size: 32px;  
  font-family: 'Shift', sans-serif;
  font-weight: 800;
}

.jumbotron h3 {
  text-align: center;
  color: #27b0bc;
  font-size: 28px;  
  font-family: 'Shift', sans-serif;
  font-weight: 800;
}

.jumbotron h4 {
  text-align: center;
  color: #27b0bc;
  font-size: 22px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
    text-align: center;
  font-size: 22px;
  color: #27b0bc;
  font-weight: 800;
}

h1 { 
    text-align: center;
}
    
.main { 
        
    width: 100%;
    height: 100%;
    clear: both; 
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 125%;
    font-weight: 900; 
}

li a:hover {
    background-color: purple;
    
}

.footer {
  color: white;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-top: 100px;
  background-color: #000000;
}

.parent {
    max-width: 100%;
    min-width: 300px;
    margin: 0 auto;
    background-color: none;
    display: flex;
    align-items: flex-start;

}

.box {
    border: 1px solid #a44bfc;
    padding: 5px;
}

.one {
    flex: 1;
}

.two {
    flex: 1;
    margin-left: 10px;
}

.three {
    flex: 1;
    margin-left: 10px;
}

.four {
    flex: 1;
    margin-left: 10px;
}

.five {
    flex: 1;
    margin-left: 10px;
}











